<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FriendList</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="jumbotron">
    <h1 class="text-black-50 text-center display-3">My Friends</h1>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<ul>
    <a class="navbar-brand btn btn-primary" href = "/">Home</a>
    <a class="navbar-brand" href = "/addfriend">Add Friend</a>
    <a class="navbar-brand btn btn-danger" href = "/logout">Logout</a>
</ul>
</nav>
<main role="main" class="container">
<div th:each="eachFriend:${friends}">
    <ul class="list-group">
    <li class="list-group-item list-group-item-primary display-3" th:text="${eachFriend.name}">Name</li>
    <li class="list-group-item list-group-item-info font-italic" th:text="${eachFriend.rank}">Rank</li>
    <li class="list-group-item"><img class="float-left" th:src="${eachFriend.img}"></li>
    </ul>
</div>
</main><!-- /.container -->
</body>
</html>