<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class = "jumbotron">
    <h1 class="text-black-50 text-center display-1">Personal Social Network</h1>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<ul>
    <a class="navbar-brand btn btn-success" href = "/login">Login</a>
    <a class="navbar-brand" href = "/addfriend">Add Friend</a>
    <a class="navbar-brand" href = "/listfriends">Show My Friends</a>
    <a class="navbar-brand btn btn-danger" href = "/logout">Logout</a>
</ul>
</nav>
<main role="main" class="container">
    <h2><small>Use the form below to register (or login)</small></h2>
<form th:action="@{/}" th:object="${user}" method="post">
    <div class="container">
        <div class="form-group">
        <input type="hidden" th:field="*{id}">
       <label>User's Name: </label>
        <input type="text" class = "form-control" th:field="*{username}"> <br/>
        </div>
        <div class="form-group">
       <label>Password:</label>
        <input type ="text" class = "form-control" th:field="*{password}"><br/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <a href="/login" class="btn btn-success">Login</a>
</form>
</main><!-- /.container -->
</body>
</html>